@{
    ViewBag.Title = "LandManagement";
}

<h2>Land Management</h2>

<table class="display table table-strip table-hover">
    <thead>
        <tr>
            <th colspan="2" style="text-align: left">Total Land Owned = 1 sq.m</th>
            <th colspan="2" style="text-align: right">Required Land = 0 sq.m
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Available Land
            </td>
            <td>0.5 sq.m
            </td>
            <td>Unavailable Land
            </td>
            <td>0.5 sq.m
            </td>
        </tr>
        <tr>
            <td>Managed Land
            </td>
            <td>0.5 sq.m
            </td>
            <td>Unmanaged Land
            </td>
            <td>0.5 sq.m
            </td>
        </tr>
        <tr>
            <td>Under Maintanance Land
            </td>
            <td>0.5 sq.m
            </td>
            <td>Rest Land
            </td>
            <td>0.5 sq.m
            </td>
        </tr>
    </tbody>
</table>
